{% extends 'new_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Employee Form {% endblock %}

{% block pagecontent %}
<style>
h2 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 18px;
}

.btn-primary:hover, .btn-primary:focus {
	color: #ffffff;
}

label {
	margin: 15px 0px 10px 0px;
	display: block;
}

button {
	margin: 15px 10px 10px 0px;
	display: block;
}

.container{
	max-width: 500px;
    margin: auto;
}
</style>

{% if messages %}
<ul class="messages">
   {% for message in messages %}
	  <div class="alert alert-success {{ message.tags }} alert-dismissible fade in" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{ message }}</strong>
	  </div>
	{% endfor %}
</ul>
{% endif %}

<h2>Employee Details Form</h2>

<div class="container">
	<form method="post" enctype="multipart/form-data">
		<div class = "well clearfix">
			
			{% csrf_token %}
			
			{{ form|crispy}}
			
			<button type="submit" class="btn btn-primary pull-right">
				Next  <span class="glyphicon glyphicon-chevron-right"></span>
			</button>
			
		</div>
	</form>
</div>

{% endblock %}