{% load staticfiles %}

<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- JQuery JS -->
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>

<!-- JQuery UI JS -->
<script src="{% static "jquery-ui/js/jquery-ui.js" %}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

<!-- DatePicker UI -->
<script>
$( function() {
	$('#manhours_date').datepicker({
		showWeek: true,
		yearRange: "1990:2100",
		changeMonth: true,
		changeYear: true
	});
} );
</script>

<!-- Daterangepicker UI -->
<script>
$( function() {
	$( '#id_Date_0, #id_Date_1, #id_date_0, #id_date_1' ).datepicker({
		changeMonth: true,
		changeYear: true
	});
} );
</script>

<!-- Field Hide and Show -->
<script>
$(document).ready(function (){
	$("#id_accd_type").on('change', function() {
		
		$('input[name="learning_point"]').hide();
		$('label[for="id_LearningPoint"]').hide();
		
		if ($(this).val() == "Fatal") {
			$('input[name="learning_point"]').show();
			$('label[for="id_learning_point"]').show();
		}else{
			$('input[name="learning_point"]').hide();
			$('label[for="id_learning_point"]').hide();
		} 
	});
});
</script>

<!-- Autocomplete Textfields -->
<script>
$(function() {
	$("#id_UnitName, #id_unit_name").autocomplete({
		source: "/filter/get_unitname/",
		minLength: 3,
		focus: function(event, ui) {
			// prevent autocomplete from updating the textbox
			event.preventDefault();
			// manually update the textbox
			$(this).val(ui.item.label);
		},
		select: function(event, ui) {
			// prevent autocomplete from updating the textbox
			event.preventDefault();
			// manually update the textbox and hidden field
			$(this).val(ui.item.label);
			$("#id_UnitName, #id_unit_name").val(ui.item.value);
		}
	});
});
  
$(function() {
	$("#id_Department").autocomplete({
		source: "/filter/get_department/",
		minLength: 3,
		focus: function(event, ui) {
			// prevent autocomplete from updating the textbox
			event.preventDefault();
			// manually update the textbox
			$(this).val(ui.item.label);
		},
		select: function(event, ui) {
			// prevent autocomplete from updating the textbox
			event.preventDefault();
			// manually update the textbox and hidden field
			$(this).val(ui.item.label);
			$("#id_Department").val(ui.item.value);
		}
	});
});
</script>

<!-- Accordion Open/Close -->
<script>
$(document).ready(function() {
	
	$(".toggle-accordion").on("click", function() {
		var accordionId = $(this).attr("accordion-id"),
			numPanelOpen = $(accordionId + ' .collapse.in').length;
		
		$(this).toggleClass("active");

		if (numPanelOpen == 0) {
			openAllPanels(accordionId);
		} else {
			closeAllPanels(accordionId);
		}
	})

	openAllPanels = function(aId) {
		console.log("setAllPanelOpen");
		$(aId + ' .panel-collapse:not(".in")').collapse('show');
	}
	closeAllPanels = function(aId) {
		console.log("setAllPanelclose");
		$(aId + ' .panel-collapse.in').collapse('hide');
	}
		 
});
</script>

