{% extends 'new_base.html' %}

{% block title %} Members {% endblock %}
{% block pagecontent %}

<style>
.container{
	max-width: 650px;
    margin: auto;
}
h2 {
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 18px;
}

li {
	font-weight: bold;
	font-size: 16px;
}
</style>

<div class="container">
	<div class="jumbotron">
		<h2>SAIL SAFETY MEMBERS'</h2>		
		<ol>
			<li>Bhilai Steel Plant</li>
			<li>Durgapur Steel Plant</li>
			<li>Rourkela Steel Plant</li>
			<li>Bokaro Steel Limited</li>
			<li>IISCO Steel Plant</li>
			<li>Alloys Steel Plant</li>
			<li>Chandrapur Ferro Alloy Plant</li>
			<li>Salem Steel Plant</li>
			<li>Visvesvaraya Iron & Steel Limited </li>
			<li>Central Marketing Organisation</li>
			<li>Raw Material Division</li>
			<li>Collieries</li>
			<li>SAIL Refractory Unit</li>
		</ol>
	</div>
</div>
{% endblock %}

