<div class="container">
    
        <div class="accordion-option">
            <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
        </div>
    
        <div class="clearfix"></div>
    
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Today's Accident Stats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class = "table-responsive">
                            <table class = "table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Records</th>
                                        <th>Regular</th>
                                        <th>Contract</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>Fatal Accidents</td>
                                        <td>{{ dfr }}</td>
                                        <td>{{ dfc }}</td>
                                    </tr>
                                    <tr>
                                        <td>First-Aid Accidents</td>
                                        <td>{{ dfar }}</td>
                                        <td>{{ dfac }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reportable Accidents</td>
                                        <td>{{ drr }}</td>
                                        <td>{{ drc }}</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Reportable Accidents</td>
                                        <td>{{ dnrr }}</td>
                                        <td>{{ dnrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{ dtotalr }}</td>
                                        <td>{{ dtotalc }}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            This Week Accident Stats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class = "table-responsive">
                            <table class = "table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Records</th>
                                        <th>Regular</th>
                                        <th>Contract</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>Fatal Accidents</td>
                                        <td>{{ wkfr }}</td>
                                        <td>{{ wkfc }}</td>
                                    </tr>
                                    <tr>
                                        <td>First-Aid Accidents</td>
                                        <td>{{ wkfar }}</td>
                                        <td>{{ wkfac }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reportable Accidents</td>
                                        <td>{{ wkrr }}</td>
                                        <td>{{ wkrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Reportable Accidents</td>
                                        <td>{{ wknrr }}</td>
                                        <td>{{ wknrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{ wktotalr }}</td>
                                        <td>{{ wktotalc }}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            This Month Accident Stats
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class = "table-responsive">
                            <table class = "table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Records</th>
                                        <th>Regular</th>
                                        <th>Contract</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>Fatal Accidents</td>
                                        <td>{{ mfr }}</td>
                                        <td>{{ mfc }}</td>
                                    </tr>
                                    <tr>
                                        <td>First-Aid Accidents</td>
                                        <td>{{ mfar }}</td>
                                        <td>{{ mfac }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reportable Accidents</td>
                                        <td>{{ mrr }}</td>
                                        <td>{{ mrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Reportable Accidents</td>
                                        <td>{{ mnrr }}</td>
                                        <td>{{ mnrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{ mtotalr }}</td>
                                        <td>{{ mtotalc }}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                            This Year Accident Stats
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class = "table-responsive">
                            <table class = "table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Records</th>
                                        <th>Regular</th>
                                        <th>Contract</th>
                                    </tr>
                                </thead>
                        
                                <tbody>
                                    <tr>
                                        <td>Fatal Accidents</td>
                                        <td>{{ yfr }}</td>
                                        <td>{{ yfc }}</td>
                                    </tr>
                                    <tr>
                                        <td>First-Aid Accidents</td>
                                        <td>{{ yfar }}</td>
                                        <td>{{ yfac }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reportable Accidents</td>
                                        <td>{{ yrr }}</td>
                                        <td>{{ yrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>Non-Reportable Accidents</td>
                                        <td>{{ ynrr }}</td>
                                        <td>{{ ynrc }}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{ ytotalr }}</td>
                                        <td>{{ ytotalc }}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    